body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  left: 15%;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 70%;
  font-size: 2em;
  font-weight: bold;
}
